<div class="row">
  <div class="col">
        
    <!-- [(selected)]="selected" -->
    <app-playlist-list     #somg
      [selected]="selected"
      (selectedChange)="selectPlaylist($event)"
      [items]="playlists | async">
    </app-playlist-list>

    <!-- {{somg.selectedChange.subscribe()}} -->
        

  </div>
  <div class="col">

    <div [ngSwitch]="mode" *ngIf="selected">

      <div *ngSwitchDefault>
        
        <app-playlist-details
        (editClicked)="edit()"
        [playlist]="selected">
        </app-playlist-details>

      </div>

      <div *ngSwitchCase=" 'form' ">
        <app-playlist-form
        (cancelClicked)="cancel()"
        (saveClicked)="savePlaylist($event)"
        [playlist]="selected"
        ></app-playlist-form>

      </div>

    </div>

  </div>
</div>