<pre>{{playlist | json}}</pre>
<pre>{{draft | json}}</pre>

<div class="form-group">
  <label>Name:</label>
  <input type="text" class="form-control" 
    ngModel
    [ngModel]="draft.name"
    (ngModelChange)=" draft.name = $event">
  {{ 170 - draft.name.length }} / 170
</div>

<div class="form-group">
  <label><input type="checkbox" 
    (ngModelChange)="draft.public = $event "
    [ngModel]="draft.public"> Public</label>
</div>

<div class="form-group">
  <label>Description</label>
  <textarea 
  [ngModel]="draft.description"
  (ngModelChange)=" draft.description = $event" 
  
  class="form-control" ></textarea>
</div>


<button class="btn btn-danger" (click)="cancel()">Cancel</button>
<button class="btn btn-success" (click)="save()">Save</button>