<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" routerLinkActive="active" routerLink="/">{{title}}</a>

    <button class="navbar-toggler" (click)="expanded = !expanded" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [class.show]="expanded">
      <ul class="navbar-nav">
        <!-- <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/search"
            [routerLinkActiveOptions]="{exact:true}">Search</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/search/albums">Search Albums</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/playlists">Playlists</a>
        </li>
      </ul>

      <p class="ml-auto text-white" *ngIf="user.userChange | async as userData">
        {{userData.display_name}},

        <a (click)="logout()">Logout</a>
      </p>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col">

      <router-outlet></router-outlet>


    </div>
  </div>
</div>