<!-- .row*2>.col -->
<div class="row">
  <div class="col">
    <app-search-form [query]="query | async" (searchChange)="searchAlbums($event)">
    </app-search-form>
  </div>
</div>

<div class="row">
  <div class="col">
    {{message}}

    <button (click)="hide=!hide">toggle</button>
 

    <button (click)="connect()">Connect</button>
    
    <ng-container  *ngIf="hide" >

      <div *ngIf="results | async as albums">
      <p>Found {{albums.length}} results </p>
    </div>


      <div *ngIf="results | async as albums">
        <app-search-results [results]="albums"></app-search-results>
      </div>
      
    </ng-container>

  </div>
</div>