<!-- dl>(dt{label}+dd{value})*3 -->

<pre>{{ playlist | json }}</pre>

<dl [id]="'playlist_' + playlist.id" 
    [attr.data-id]="playlist.id" [title]="playlist.name">

  <dt>Name:</dt>
  <dd>{{ playlist.name | titlecase  }}</dd>

  <dt>Public:</dt>
  <!-- [style.border]=" '1px solid ' " -->
  
  <!-- <dd 
  style="border-bottom:1px solid black"
  [style.color]="playlist.public ? 'red' : 'blue'"
  [style.border-bottom-color]="playlist.public ? 'red' : 'blue'"
    >{{ playlist.public | yesno }}</dd> -->

  <dd 
  style="border-bottom:1px solid black"
  [ngStyle]="{
    color: playlist.public ? 'red' : 'blue',
    'border-bottom-color': playlist.public ? 'red' : 'blue'
  }">{{ playlist.public | yesno }}</dd>

  <!-- <dd>{{ playlist.public ? 'Yes' : 'No' }}</dd> -->
  <!-- <dd>{{ yesno(playlist.options.public) }}</dd> -->

  <dt>Description:</dt>
  <dd>{{ playlist.description }}</dd>

</dl>