<!-- dl>(dt{label}+dd{value})*3 -->

<pre>{{ playlist | json }}</pre>

<dl [id]="'playlist_' + playlist.id" 
    [attr.data-id]="playlist.id"
    [title]="playlist.name">

  <dt>Name:</dt>
  <dd>{{ playlist.name | titlecase  }}</dd>

  <dt>Public:</dt>

  <dd class="public-or-private" 
    [style.font-size.px]="20 + 4"    
   [class.is-public]=" playlist.public" 
   [class.is-private]=" ! playlist.public">
    {{ playlist.public | yesno }}</dd>


  <dt>Description:</dt>
  <dd>{{ playlist.description }}</dd>

</dl>


<button class="btn btn-info" (click)="edit()">Edit</button>