<!-- <pre>{{queryForm.value|json}}</pre> -->

<form [formGroup]="queryForm">

  <div class="input-group mb-3">

    <input class="form-control" placeholder="Search albums" formControlName="query" required
      (keyup.alt.control.enter)="search(queryForm.get('query')!.value) ">

    <!-- <div class="input-group-append">
      <button class="btn btn-outline-secondary" (click)="search()">
        Search
      </button>
    </div> -->
  </div>

  <p *ngIf="queryForm.get('query')?.hasError('required')">
    Cannot be empty
  </p>

  <p *ngIf="queryForm.get('query')?.hasError('minlength')">
    Query is too short. Has to be at least
    {{queryForm.get('query')?.getError('minlength').requiredLength }} letters
  </p>

</form>