<pre>{{queryForm.value|json}}</pre>

<div [formGroup]="queryForm">

  <div class="input-group mb-3">

    <input class="form-control" placeholder="Search albums" formControlName="query">

    <div class="input-group-append">
      <button class="btn btn-outline-secondary" (click)="search()">
        Search
      </button>
    </div>
  </div>

  <!-- <select [formControl]="queryForm.get('extras.type')"> -->

  <div formGroupName="extras">
    <select class="form-control" formControlName="type">
      <option value="album">Album</option>
      <option value="artist">Artist</option>
    </select>
  </div>

  <ul formGroupName="extras">
    <ng-container formArrayName="markets">

      <li [formGroup]="market" class="input-group"
      
      *ngFor="let market of markets.controls">
        <input type="text" class="form-control" formControlName="code">
        <span class="close" (click)="removeMarket(market)">&times;</span>
      </li>

    </ng-container>
  </ul>
  <button class="btn btn-primary" (click)="addMarket()">Add Market</button>

</div>