<pre>{{ queryForm.controls.query.errors |json}}</pre>

<form [formGroup]="queryForm">

  <div class="input-group mb-3">

    <input class="form-control" placeholder="Search albums" formControlName="query"
      (keyup.alt.control.enter)="search(queryForm.get('query')!.value) ">

    <!-- <div class="input-group-append">
      <button class="btn btn-outline-secondary" (click)="search()">
        Search
      </button>
    </div> -->
  </div>

  <ng-container *ngIf="queryForm.get('query') as field">
    <ng-container *ngIf="field.touched || field.dirty">
      <p *ngIf="field.hasError('required')">Cannot be empty</p>
      
      <p *ngIf="field.getError('minlength') as error">
        Minimum length is {{ error.requiredLength }} letters
      </p>
      
      <p *ngIf="field.getError('censor') as error">
        Cannot contain "{{ error.badword }}"
      </p>
    </ng-container>
  </ng-container>

</form>